@model IEnumerable<projetoMVC.Models.Servico>

@{
    ViewBag.Title = "Index";
}

<br />

<h2>SERVIÇOS</h2>

<br />

<div id="servico-one">
    <p align="center">Escova</p> 
    <p align="center">Chapinha</p> 
    <p align="center">Depilação</p> 
    <p align="center">Mechas</p> 
    <p align="center">Luzes</p> 
    <p align="center">Sombrancelha</p> 
    <p align="center">Corte Cabelo</p> 
    <p align="center">Especial Noiva</p> 
    <p align="center">Penteado</p> 
</div>

<div id="servico-two">
    <p align="center">Maquiagem</p> 
    <p align="center">Pintura</p> 
    <p align="center">Escova Progressiva</p> 
    <p align="center">Relaxamento</p> 
    <p align="center">Manicure</p>     
</div>


<br />
<br />


