@{
    ViewBag.Title = "Contato";
}

<br />
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2></h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefone:</h3>
    </header>
    <p>
        <span class="label">Caixa Postal:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">Horas:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Suporte:</span>
        <span><a href="mailto:support@salaoalvess.com">support@salaoalvess.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:marketing@salaoalvess.com">marketing@salaoalvess.com</a></span>
    </p>
    <p>
        <span class="label">Geral:</span>
        <span><a href="mailto:general@salaoalvess.com">general@salaoalvess.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Endereço:</h3>
    </header>
    <p>
        Rua Dr. Paulo Agustino, 1055
        Fort. Minas, Minas Gerais - MG
    </p>
</section>